body {
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 80%;
    max-width: 800px;
    background-color: #000;
    border: 2px solid #00ff00;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#terminal-output {
    height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.terminal-input {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#prompt {
    margin-right: 10px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

#command-input {
    background-color: #000;
    color: #00ff00;
    border: none;
    outline: none;
    width: 100%;
    caret-color: transparent; /* Hide the default caret */
}

.blinking-cursor {
    background-color: #00ff00;
    width: 10px;
    height: 20px;
    margin-left: -10px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #00ff00;
    }
}
